name: nwb-guide
channels:
  - defaults
  - conda-forge
dependencies:
  - python = 3.9.17
  - nodejs = 18.16.1
  - PyInstaller = 5.13.0
  - pywin32 = 303
  - git = 2.20.1
  - setuptools=58.0.4
  - pip
  - pip:
      - chardet == 5.1.0
      - configparser == 6.0.0
      - flask == 2.3.2
      - flask-cors === 3.0.10
      - flask_restx == 1.1.0
      - neuroconv @ git+https://github.com/catalystneuro/neuroconv.git@main#neuroconv[full]
      - hdmf >= 3.7.0
      - pytest == 7.2.2
      - pytest-cov == 4.1.0
