name: nwb-guide
channels:
  - conda-forge
  - defaults
dependencies:
  - python = 3.12.9
  - nodejs = 18.16.1
  # install these from conda-forge so that dependent packages get included in the distributable
  - jsonschema = 4.18.0 # installs jsonschema-specifications
  - pip
  - pip:
      - setuptools==70.0.0
      - PyInstaller==6.7.0
      - chardet == 5.1.0
      - configparser == 6.0.0
      - flask == 2.3.2
      - flask-cors == 4.0.0
      - flask_restx == 1.1.0
      - werkzeug < 3.0 # werkzeug 3.0 deprecates features used by flask 2.3.2. Remove this when updating flask.
      - neuroconv[dandi,compressors,ecephys,ophys,behavior,text] == 0.9.1
      - scikit-learn == 1.6.1 # Tutorial data generation
      - tqdm_publisher == 0.1.1 # Progress bars
      - tzlocal == 5.3.1 # Frontend timezone handling
      - ndx-pose == 0.2.2
      - nwbinspector == 0.6.5
      - numcodecs == 0.15.1
      - h5py == 3.12.1 # 3.13.0 uses features in hdf5 1.14.4 that is not available in earlier hdf5 libs packaged
                       # with tables==3.9.1 (latest that can be used by neuroconv 0.6.0).
                       # h5py and tables need to be consistent for electron build for unknown reason
      - ruamel.yaml.clib != 0.2.13 # 0.2.13 throws a build error on intel Mac -- see https://github.com/catalystneuro/roiextractors/issues/489
