body {
    margin: 0;
    font-family: sans-serif;
}

button:focus {
    outline: none;
}

/* SODA */

.wide-swal {
    width: auto !important;
    height: auto !important;
    justify-content: space-between;
    display: block;
}

.checkbox-design {
    -webkit-appearance: none;
    margin: 0;
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    align-self: center;
    margin-right: 10px;
    cursor: pointer;
}

.checkbox-design::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: var(--color-light-green);
}

.checkbox-design:checked::before {
    transform: scale(1);
}

.skip-btn {
    margin-right: 15px;
    background-color: #fff;
    border: solid 1px var(--color-light-green);
    color: var(--color-light-green);
    border-radius: 8px;
}

.skip-btn:hover {
    background-color: var(--color-light-green);
    color: #fff;
}

.replace-btn {
    background-color: var(--color-bg-plum);
    color: white;
    border-radius: 8px;
}

#selectAll {
    display: flex;
    justify-content: space-between;
}

.input-name {
    color: black;
    align-self: center;
}

.selectAll-container {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 38px;
}

.selectAll-checkbox {
    margin-left: 40px;
    margin-right: 74px;
}

.input-field-design {
    margin-bottom: 1px;
    margin-right: 10px;
    margin-left: 10px;
    align-self: center;
    text-align: center;
}

.jexcel_container {
    margin-right: 20px;
}

.checkbox-design:focus {
    outline: none;
}

.input-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 60px;
    margin-left: 25px;
    align-items: start;
    border-radius: 8px;
    background-color: #f7f7f7;
}

.selectAll-text {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin: 10px;
    margin-left: 38px;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 60px;
    margin-left: 25px;
    border-radius: 8px;
}

.checkbox-container:hover {
    background-color: #f7f7f7;
}

#container {
    max-height: 300px;
    overflow: overlay;
    margin: 5px;
}

.rename-btn {
    margin-left: 15px;
    background-color: var(--color-light-green);
    color: white;
    border-radius: 8px;
}

.cancel-btn {
    margin-left: 100px;
    background-color: #757575;
    color: white;
    border-radius: 8px;
}

.wide-swal-auto {
    width: auto !important;
    height: auto !important;
    display: block;
}

.swal-button-container {
    display: flex;
    justify-content: center;
    overflow: visible;
    margin-top: 5px;
}

.caption {
    max-height: 250px;
    overflow-y: overlay;
}

.rename-input {
    outline: none !important;
    border-width: 0 0 1px !important;
    border-color: gray !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.rename-input:focus {
    outline: none !important;
    border-width: 0 0 2px !important;
    border-color: #13716d !important;
}

.rename-input::-webkit-input-placeholder {
    color: rgb(139, 139, 139);
}

.container-fluid {
    width: 100%;
    height: 85%;
    padding-right: 10px;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
}

.div-organize-items {
    min-height: 428px;
    padding-top: 0;
    width: 100%;
    float: left;
    border: 1px solid #f0f0f0;
    box-shadow: 0 0 2px #d5d5d5;
}

.div-organize-items.full {
    width: 100%;
}

.button-grp {
    display: inline-block;
    margin-right: 30px;
}

a {
    border: none;
}

.button-grp button {
    border: 1px #dbdbdb solid;
    border-radius: 5px;
    font-size: 12px;
    background-color: #f8f8f8;
    outline: none;
    color: #575757;
    margin-right: 0px;
    padding: 5px 10px;
}

.button-grp button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.active-btn {
    background-color: #6c6c6c !important;
    border: 1px #6c6c6c solid !important;
    color: white !important;
}

.sidebar {
    background-color: var(--color-teal);
    height: 100%;
}

.sidebar_title {
    color: #f3f3f3;
    text-transform: uppercase;
    padding: 20px 0px 0px 20px;
    margin-top: 0px;
    font-size: 11px;
    font-weight: 900;
    user-select: none;
    -webkit-user-select: none;
}

.sidebar_links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
}

.active_link {
    background-color: #252525;
}

.window {
    padding: 20px;
    height: calc(100vh - 110px);
    overflow: scroll;
}

.menu {
    background-color: #fff;
    color: #333;
    list-style: none;
    position: absolute;
    padding: 6px 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    word-wrap: break-word;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 4px;
    z-index: 1000;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.menu.reg-folder {
    width: 110px;
    height: auto;
}

.menu.reg-folder li {
    padding: 3px 10px;
    background-color: #fff;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.menu.file {
    width: 110px;
    height: auto;
}

.menu.file li {
    padding: 3px 10px;
    background-color: #fff;
    color: black;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.menu.file li:hover {
    background-color: #f0f0f0;
}

.menu.reg-folder li:hover {
    background-color: #f0f0f0;
}

.menu.high-level-folder li:hover {
    background-color: #f0f0f0;
}

.menu.high-level-folder.off {
    display: none;
    top: -200%;
    left: -200%;
}

.menu.high-level-folder {
    width: 110px;
    height: auto;
}

.menu.high-level-folder li {
    padding: 3px 10px;
    background-color: #fff;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.menu.reg-folder.off {
    display: none;
    top: -200%;
    left: -200%;
}

.menu.file.off {
    display: none;
    top: -210%;
    left: -210%;
    position: absolute;
}

.menu.file li {
    width: 108px;
    background-color: #fff;
}

.modal-content textarea {
    font-size: 11px !important;
}

.modal-body {
    padding: 10px 10px;
    font-size: 15px;
}

.modal-title {
    margin-top: 10px;
    font-size: 17px;
}

.modal-header {
    font-size: 17px;
    font-weight: bold;
    height: 60px;
    padding: 8px 10px !important;
    text-align: center;
    vertical-align: middle;
}

.modal-footer {
    padding: 10px 12px !important;
}

.modal-footer button {
    /* width: 30% !important; */
    padding: 4px 10px !important;
    font-weight: 400 !important;
    font-size: 14px !important;
}

.dropdown-item {
    font-size: 13px !important;
    line-height: 2;
    color: #404040;
}

.blue {
    color: rgb(255, 165, 0, 0.8);
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
    padding: 5px;
}

details > summary {
    list-style-type: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
    content: url("data:image/svg+xml,%3Csvg style='transform: scale(0.2);' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3C!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M416 288h-95.1c-17.67 0-32 14.33-32 32s14.33 32 32 32H416c17.67 0 32-14.33 32-32S433.7 288 416 288zM544 32h-223.1c-17.67 0-32 14.33-32 32s14.33 32 32 32H544c17.67 0 32-14.33 32-32S561.7 32 544 32zM352 416h-32c-17.67 0-32 14.33-32 32s14.33 32 32 32h32c17.67 0 31.1-14.33 31.1-32S369.7 416 352 416zM480 160h-159.1c-17.67 0-32 14.33-32 32s14.33 32 32 32H480c17.67 0 32-14.33 32-32S497.7 160 480 160zM192.4 330.7L160 366.1V64.03C160 46.33 145.7 32 128 32S96 46.33 96 64.03v302L63.6 330.7c-6.312-6.883-14.94-10.38-23.61-10.38c-7.719 0-15.47 2.781-21.61 8.414c-13.03 11.95-13.9 32.22-1.969 45.27l87.1 96.09c12.12 13.26 35.06 13.26 47.19 0l87.1-96.09c11.94-13.05 11.06-33.31-1.969-45.27C224.6 316.8 204.4 317.7 192.4 330.7z'/%3E%3C/svg%3E");
}

details[open] > summary::before {
    content: none;
}

.documentation_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 1000px;
}

.document_container {
    overflow-y: auto;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
}

.doc_container {
    padding-right: 1.25rem;
    padding-top: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    flex-direction: column;
    max-width: 1024px;
    width: 100%;
    height: 100%;
    display: flex;
}

.dc_con {
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
}

.doc_header {
    font-weight: 700;
    font-size: 1.875rem !important;
    line-height: 2.25rem;
    padding-bottom: 0.25rem;
    margin: 0;
}

.document-content {
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}

.button_container_contact {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.docu-content-container {
    padding-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.documentation-lottie_style {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.document_text {
    font-size: 1.3rem !important;
    color: black !important;
    font-weight: 500;
    margin-top: 0 !important;
}
